// ======
// MIXINS
// ======

// MEDIA QUERIES
// ! e.g. >>
// DESKTOP
$XXXLARGE: 1400px;
$XXLARGE: 1280px;
$XLARGE: 1024px;
$MAX-WIDTH: 992px;
// TABLET
$MEDIUM: 768px;
// MOBILE
$SMALL: 600px;
$XXSMALL: 480px;
$XSMALL: 320px;

@mixin atLargeDevices(){
    @media all and (min-width: $MEDIUM){
        @content;
    }
}
@mixin atMediumDevices(){
    @media all and (min-width: $MEDIUM){
        @content;
    }
}
@mixin atSmallDevices(){
    @media all and (max-width: $SMALL){
        @content;
    }
}